<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/stempel.png" alt="" class="img-thumbnail rounded-circle" width="200"/>
      <h1 class="display-4">ITN</h1>
      <p class="lead">Malang</p>
    </div>
  </div>
</div>
